@font-face {
  font-family: "Hacked";
  src: url("../public/hacked-font/Hacked-KerX.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Hacked", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: larger;
}

#root,
#parent {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

#button-overlay {
  position: absolute;
  right: 0;
  top: 0;
  height: 80%;
  width: 80%;
  z-index: 999;
}

#export-button {
  position: fixed;
  right: 0;
  top: 0;
  margin: 10px;
  border-radius: 25%;
  padding: 10px;
}

#player-control-wrapper {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
}
#player-controls {
  justify-content: space-between;
  display: flex;
  width: 30%;
}

#rewind-button {
  background: url("../public/Rewind-595b40b75ba036ed117d8432.svg");
  height: 50px;
  width: 50px;
  display: block;
}
#fast-forward-button {
  background: url("../public/Fast\ Forward-595b40b75ba036ed117d7d6a.svg");
  height: 50px;
  width: 50px;
  display: block;
}
#play-button {
  background: url("../public/Play-595b40b75ba036ed117d8316.svg");
  height: 50px;
  width: 50px;
  display: block;
}
#pause-button {
  background: url("../public/Pause-595b40b75ba036ed117d82c0.svg");
  height: 50px;
  width: 50px;
  display: block;
}

#music-canvas {
  z-index: -9999;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#file-pane-old {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: -webkit-linear-gradient(
    340deg,
    hsla(336, 73%, 53%, 0.9) 37%,
    hsla(327, 65%, 49%, 1) 60%,
    hsla(316, 65%, 45%, 1) 69%,
    hsla(297, 66%, 40%, 1) 82%,
    hsla(284, 72%, 43%, 1) 89%,
    hsla(265, 84%, 48%, 1) 100%
  );
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#file-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ba54f5;
  background: -webkit-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: -o-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: -moz-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  height: calc(100vh - 15vh);
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
  margin-top: 80px;
  margin-left: 20px;
  border-radius: 5px;
  transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  padding: 5px 15px;
}

#file-pane .hidden {
  display: none;
}

#import-button {
  margin: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  padding: 10px;
}

#files-header {
  text-decoration: underline;
  font-size: larger;
}

#file-list {
  /* box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6); */
  width: 100%;
  height: auto;
  margin: 10px 0;
  overflow-y: scroll;
}
#file-list::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-corner {
  background: #0c0c0c;
}

.soundbar {
  width: 0;
  height: 0;
}

.instrument-track {
  padding: 5px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#delete-button {
  display: hidden;
  width: 25%;
  height: 10%;
  font-size: small;
  padding: 0;
  margin: 0;
  text-align: center;
}

#track-editor {
  height: 100%;
  width: 100%;
  position: absolute;
  /* box-shadow: rgb(0 0 0 / 24%) -19px -5px 12px; */
}

button {
  padding: 16px 32px;
  font-family: "Hacked";
  font-size: large;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
}
